@media screen and (max-width : 750px)
{
    /** Search **/
    .search-form
    {
        width: 100%;
    }

    /** Hosting **/
    .hosting-img
    {
        height: 150px;
    }

    .hosting-container
    {
        flex-wrap: inherit;
        flex-direction: column;
        margin: 0;
    }

    .hosting-cards
    {
        width: 90%;
    }

    /* Footer */
    footer
    {
        width: 100%;
        flex-direction: column;
    }

    .content-footer
    {
        width: 70%;
        margin: 1em 0 1em 2em;
    }
}