@media screen and (max-width : 768px)
{
    /** Search **/
    .search-form
    {
        width: 100%;
    }

    .search-button
    {
        border-radius: 16px;
    }

    .search-button-name
    {
        display: none;
    }

    .search-button i
    {
        display: block;
    }

    /** Hosting **/
    .hosting-img
    {
        height: 150px;
    }

    .hosting-container
    {
        flex-wrap: inherit;
        flex-direction: column;
        margin: 0;
    }

    .hosting-cards
    {
        width: 90%;
    }

    /* Footer */
    footer
    {
        width: 100%;
        flex-direction: column;
    }

    .content-footer
    {
        width: 70%;
        margin: 16px 0 16px 32px;
    }
}