/** Global **/
body
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

main
{
    width: 100%;
    margin: 0;
}

a
{
    text-decoration: none; /** Enlever la decoration du lien **/
    color: inherit; /** Enlever la couleur par défaut des liens **/
}

p
{
    margin: 0;
    padding: 8px 0 8px 0;
}

h1, h2, h3, h4
{
    font-weight: bold ;
    margin: 0;
}

.blue-color
{
    color:#0065FC;
}

/** Header **/
header
{
    display: flex;
    justify-content: space-between;
    margin: 0 19px 0 19px;
}

.logo
{
    margin: 0 0 19px 0;
    padding: 16px 0 0 0;
}

nav
{
    display: flex;
    color: black;
    margin: 19px 0 19px 0;
}

.nav-div
{
    display: flex;
    align-items: center;
}

.nav-link
{
    margin-right: 32px;
    padding: 32px 0 0 0;
    height: 100%;
}

.nav-link:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.img-logo
{
    width: 65%;
    height: 85%;
}

/** Search **/
.search
{
    margin: 0 19px 0 19px;
}

.search-form
{
    display: flex;
    width: 400px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 16px;
}

.search-button
{
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    font-size: 100%;
    border-radius: 0 16px 16px 0;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.search-input
{
    width: 100%;
    border: none;
    padding-left: 16px;
    font-weight: bold;
    font-size: 100%;
}

.search-form-icon
{
    background-color: #F2F2F2;
    padding: 16px 20px 16px 20px;
    border-radius: 16px 0 0 16px;
}

.search-button-name
{
    display: block;
}

.search-button i
{
    display: none; /** Disparaitre l'icon recherche **/
}

/** Filtre **/
.filter
{
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 32px;
    font-size: 18px;
}

.filter-title
{
    font-size: 21px;
}

.filter-case
{
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 32px;
    align-items: center; /** Centrer l'ecriture à l'interieur de la case **/
    padding-right: 16px;
    margin-left: 21px;
    font-weight: bold;
    cursor: pointer;
}

.filter-icon
{
    display: flex;
    height: 48px;
    width: 48px;
    border: 3px solid #DEEBFF;
    align-items: center; /** Centrer l'icon sur l'axe verticale **/
    border-radius: 100%;
    justify-content: center; /** Centrer l'icon sur l'axe horizontal **/
    background-color: #DEEBFF;
    margin-right: 10px;
}

.filter-case:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}

.info
{
    display: flex;
    align-items: center;
}

.info-icon
{
    display: flex;
    height: 16px;
    width: 16px;
    border: 2px solid #F2F2F2;
    align-items: center;
    border-radius: 100%;
    justify-content: center; /** Centrer l'icon info **/
    margin: 32px 16px 32px 16px;
    padding: 2px;
}

/** Hosting & popular **/
.hosting-section
{
    display: flex;
    flex-direction: row-reverse; /** Inverser les deux éléments hébérgement à Marseille et les plus populars **/
    justify-content: space-between;
    margin: 0 19px 0 19px;
}

.star-checked
{
    color: blue;
}

.star-unchecked
{
    color: #F2F2F2;
}

/** La survol sur les cartes **/
.hosting-cards:hover, .popular-cards:hover
{
    background-color: #DEEBFF;
}

/** Popular **/
.popular
{
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 24px;
    margin-left: 35px;
}

.popular-title
{
    display: flex;
    justify-content: space-between;
    padding: 19px;
}

.popular-img
{
    width: 160px;
    height: 160px;
    border-radius: 24px 0 0px 24px;;
    border: 3px solid transparent;
     object-fit: cover; /** Ajuster l'image **/
}

.popular-container
{
    display: flex;
    flex-direction: column;
    padding: 0 19px 0 19px;
    background-color: #F2F2F2;
}

.popular-cards
{
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 16px #0000002e;   
    margin-bottom: 32px;
}

.popular-content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3%;
}

/** Hosting **/
.hosting
{
    display: flex;
    flex-direction: column;
    flex: 2.5; /** La taille du bloc hosting est 2.5 fois plus grand que le bloc popular **/
    background-color: #F2F2F2;
    border-radius: 24px;
    padding: 0 0 32px 0;
}

.hosting-title
{
    padding: 19px;
    margin-left: 19px;
}

.hosting-container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap; /** Pour le retour à la ligne **/
}

.hosting-cards
{
    background: white;
    border-radius: 24px;
    margin: 0 0 32px 40px;
    box-shadow: 0 0 16px #0000002e;
    padding: 3px;
    width: 27%;
    height: 45%;
}

.hosting-img
{
    width: 100%;
    height: 150px;
    border-radius: 24px 24px 0 0;
    border: 3px solid transparent;
    box-sizing: border-box;
    object-fit: cover; /** Ajuster l'images **/
}

.hosting-content
{
    margin-left: 5%;
}

.hosting-more-content
{
    padding: 16px 0 0 42px;
    font-size: 19px;
}

/** La 3éme section activite **/
.activity-title-content
{
    margin: 16px;
}

.activity-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-column
{
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    margin-right: 32px;
}

.ativity-card-right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    margin-right: 8px;
}

.activity-card-left
{
    width: 420px;
    height: 500px;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 32px;
    margin-right: 35px;
}

.activity-card-img
{
    border-radius: 32px 32px 0 0;
    object-fit: cover; /** Ajuster l'image **/
}

.img-top, .img-bottom
{
    width: 100%;
    max-height: 80%;
}

.img-left
{
    height: 440px;
    width: 100%;
}

.activity-card-title
{
    padding: 16px 0 16px 16px;
    margin: 0;
    font-weight: bold;
}

.activity-card-top, .activity-card-bottom 
{
    width: 100%;
    height: 234px;
    margin-bottom: 32px;
    border-radius: 32px;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
}

/** Survol sur les cartes **/
.activity-card-left:hover, .activity-card-bottom:hover, .activity-card-top:hover
{
    background-color: #DEEBFF;
}

/** Footer **/
footer
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
}

.content-footer
{
    display: flex;
    flex-direction: column;
    margin: 48px;
    width: 25%;
}

.content-footer li
{
    margin-bottom: 8px;
}

.link-footer
{
    list-style-type: none; /** Pour supprimer l'apparence de la puce d'un élément de liste **/
    margin: 16px 0 0 0;
    padding: 0;
}
